# Set the default behavior for line endings, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.zip binary
*.ntwk binary
*.ns binary
