.ipynb_checkpoints
.gitignore

*.pyc
*~
*.swp
*.bak
*.p
*generated*
doc/build/*
doc/build.log
doc/gh-pages
build/
scikit_rf.egg-info/
dist/
*.idea/
*__pycache__/
qtapps/sandbox*
*.iml

.vscode/
.coverage
