language: python
python:
  - 2.7
  - 3.3
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  # Install conda
  - sudo apt-get update 
  # Install miniconda
  # -----------------
  - if [[ "$TRAVIS_PYTHON_VERSION" == 2* ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-3.4.2-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-3.4.2-Linux-x86_64.sh -O miniconda.sh;
    fi
    
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
   
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda
  

install: 


  - conda create -n test-environment python=$TRAVIS_PYTHON_VERSION
  - source activate test-environment

  - conda install numpy matplotlib scipy pandas nose pip setuptools
  - pip install -r tools/travis-requirements.txt
  - python setup.py install
# command to run tests
script: 
  - python --version
  - python -c "import numpy; print('numpy %s' % numpy.__version__)"
  - python -c "import scipy; print('scipy %s' % scipy.__version__)"
  - python -c "import skrf; print('skrf %s' % skrf.__version__)"
  # move somewhere so that nosetests skrf tests the module, not the dir
  #- cd tools/
  - nosetests skrf -c nose.cfg

after_success:
  - coveralls
