include README.rst INSTALL.txt COPYING.txt ez_setup.py

recursive-include doc * 
recursive-include skrf *.py *.s?p *.p *.cal *.ntwk *.csv *.c *.mplstyle

include doc/Makefile
recursive-include doc/source *.rst
recursive-include doc/tools *.rst
recursive-include doc/source/_templates *.html
recursive-include doc *.py
prune doc/build
