jupyter_client
python-ivi
pyvisa
ipython
ipykernel
ipywidgets
coverage==6.1.2  # coverage 6.2 fails with notebooks
flake8
pytest
pytest-cov
nbval
nbsphinx
sphinx>=4.0
sphinx-rtd-theme
tox
tox-gh-actions
matplotlib
coveralls