<style>
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
div.cell{
    width:800px;
    /*margin-left:16% !important;*/
    margin-right:auto;
}
h1 {
    border-bottom: 1px solid #000000; 
}
h2 {
    border-bottom: 1px solid #C0C0C0;
}


div.text_cell_render{
    font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    line-height: 145%;
    font-size: 130%;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}



/*.CodeMirror{
    font-family: "Source Code Pro", source-code-pro,Consolas, monospace;
        
}*/
.prompt{
    display: None;
    }
    

.warning{
    color: rgb( 240, 20, 20 )
    }  
</style>
