name: Code linting

on: [push, pull_request]

jobs:
  Tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff

    # code quality check (linting)
    - name: Lint with ruff
      if: ${{ always() }}
      run: |
        ruff check . --statistics
